body{
    background-color: #212529;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: auto;
}

.nav-bar{
    background-color: #212529;
    height: 55px;
    display: flex;
    align-items: center;
    color: #FFFFF8;
    border: 1px solid #25252b;
    box-shadow: 0 0 5px #1b1b27;

}



.nav-bar i{
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    left: 135px;
    font-size: 20px;
    width: 100px;
    gap: 10px;
    font: bold;
}
b{
    position: relative;
    left: 93px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-bar .button {
    position: relative;
    left: 1430px;
    border: none;
    background: none;
    border: 1px solid #32383e;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.3s;
    color: #757a80;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.container2{
    display: flex;
    justify-content: center;
}
.container2 .hero{
    text-align: center  ;
    padding: 90px 20px;
}

.container2 .hero h1{
    font-size: 40px;
    color: rgb(227, 218, 218); 
    margin-bottom: 5px;   
}

.container2 .hero p{
    max-width: 630px;
    color: rgb(176, 171, 171);
    margin: 0 auto 25px;
    line-height: 1.6;
    font-size: 20px;
}

.container2 .hero .button10{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.primaryBtn{
    background-color: #0D6EFD;
    height: auto;
    width: auto;
    border:  none;
    padding: 10px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.secondaryBtn{
    background-color: #5C636A;
    height: auto;
    width: auto;
    border:  none;
    padding: 10px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.primaryBtn:hover{
    color: white;
    background: #1d6cbf;   
}

.secondaryBtn:hover{
    color: white;
    background-color: #535557;
}

.container3{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #2B3035;
    height: auto;
}

.productCard {
    height: 200px;
    width: auto ;
    cursor: pointer;
    background-color: #55595C;

}

.productCard img:hover{
    transform: scale(1.1);
}

.productCard1{
    width: 450px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 30px;
}

.productCard2{
    height: 100px;
    width: 500px;
}

.button1, .button2{
    font-size: 30px;
    position: relative;
    left: 50px;
    top: -25px; 
    gap: 50px;
    margin: 50px;
    background: none;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
    transition: 0.3s;
    color: rgb(255, 139, 139);
    cursor: pointer;
}

.button1:hover{
    box-shadow: 0 0 15px brown;
    color: rgb(174, 217, 255);
    transform: scale(1.1);
}

.button2:hover{
    box-shadow: 0 0 15px brown;
    color: rgb(170, 215, 255);
    transform: scale(1.1);
}